
[Desktop Entry]
Name=Atunnel
Exec=/usr/libexec/xscreensaver/atunnel --root
TryExec=/usr/libexec/xscreensaver/atunnel
Comment=Zooming through a textured tunnel. Written by Eric Lassauge and Roman Podobedov.
