
[Desktop Entry]
Name=Binary Ring
Exec=/usr/libexec/xscreensaver/binaryring --root
TryExec=/usr/libexec/xscreensaver/binaryring
Comment=A system of path tracing particles evolves continuously from an initial creation, alternating dark and light colors. Written by J. Tarbell and Emilio Del Tessandoro.
