
[Desktop Entry]
Name=Bouboule
Exec=/usr/libexec/xscreensaver/bouboule --root
TryExec=/usr/libexec/xscreensaver/bouboule
Comment=A deforming balloon with varying-sized spots painted on its invisible surface. Written by Jeremie Petit.
