
[Desktop Entry]
Name=BSOD
Exec=/usr/libexec/xscreensaver/bsod --root
TryExec=/usr/libexec/xscreensaver/bsod
Comment=Blue Screen of Death: a large collection of simulated crashes from various other operating systems. https://en.wikipedia.org/wiki/Blue_Screen_of_Death https://en.wikipedia.org/wiki/Screen_of_death https://en.wikipedia.org/wiki/Guru_Meditation https://en.wikipedia.org/wiki/Row_of_Bombs https://en.wikipedia.org/wiki/Bomb_%28symbol%29 Written by Jamie Zawinski.
