
[Desktop Entry]
Name=Carousel
Exec=/usr/libexec/xscreensaver/carousel --root
TryExec=/usr/libexec/xscreensaver/carousel
Comment=Loads several random images, and displays them flying in a circular formation. Images are replaced periodically. Written by Jamie Zawinski.
