
[Desktop Entry]
Name=Deep Stars
Exec=/usr/libexec/xscreensaver/deepstars --root
TryExec=/usr/libexec/xscreensaver/deepstars
Comment=A long exposure of the night sky, showing star paths as vapor trails. Written by Jamie Zawinski.
