
[Desktop Entry]
Name=Eruption
Exec=/usr/libexec/xscreensaver/eruption --root
TryExec=/usr/libexec/xscreensaver/eruption
Comment=Exploding fireworks. See also the "Fireworkx", "XFlame" and "Pyro" screen savers. Written by W.P. van Paassen.
