
[Desktop Entry]
Name=Esper
Exec=/usr/libexec/xscreensaver/esper --root
TryExec=/usr/libexec/xscreensaver/esper
Comment="Enhance 224 to 176. Pull out track right. Center in pull back. Pull back. Wait a minute. Go right. Stop. Enhance 57 19. Track 45 left. Gimme a hardcopy right there." The Esper Machine was a voice-controlled forensic device used by LAPD in 2019, as documented in the 1982 film, Blade Runner. It was capable of enhancing photographs to an extreme degree, including reconstructing different viewpoints within the space from the reflections on various objects in the photograph. Written by Jamie Zawinski.
