
[Desktop Entry]
Name=Film Leader
Exec=/usr/libexec/xscreensaver/filmleader --root
TryExec=/usr/libexec/xscreensaver/filmleader
Comment=A looping countdown based on the SMPTE Universal Film leader on a simulation of an old analog television. https://en.wikipedia.org/wiki/Film_leader Written by Jamie Zawinski.
