
[Desktop Entry]
Name=Hypertorus
Exec=/usr/libexec/xscreensaver/hypertorus --root
TryExec=/usr/libexec/xscreensaver/hypertorus
Comment=A Clifford Torus is a torus lying on the surface of a 4D hypersphere. Inspired by Thomas Banchoff's book "Beyond the Third Dimension: Geometry, Computer Graphics, and Higher Dimensions", Scientific American Library, 1990. https://en.wikipedia.org/wiki/N-sphere https://en.wikipedia.org/wiki/Clifford_torus https://en.wikipedia.org/wiki/Regular_polytope Written by Carsten Steger.
