
[Desktop Entry]
Name=Kaleidescope
Exec=/usr/libexec/xscreensaver/kaleidescope --root
TryExec=/usr/libexec/xscreensaver/kaleidescope
Comment=A simple kaleidoscope made of line segments. See "GLeidescope" for a more sophisticated take. https://en.wikipedia.org/wiki/Kaleidoscope Written by Ron Tapia.
