
[Desktop Entry]
Name=Peepers
Exec=/usr/libexec/xscreensaver/peepers --root
TryExec=/usr/libexec/xscreensaver/peepers
Comment=Floating eyeballs. Anatomically correct, and they also track the pointer. Written by Jamie Zawinski.
