
[Desktop Entry]
Name=Piecewise
Exec=/usr/libexec/xscreensaver/piecewise --root
TryExec=/usr/libexec/xscreensaver/piecewise
Comment=Moving circles switch from visibility to invisibility at intersection points. Written by Geoffrey Irving.
