
[Desktop Entry]
Name=Polytopes
Exec=/usr/libexec/xscreensaver/polytopes --root
TryExec=/usr/libexec/xscreensaver/polytopes
Comment=The six regular 4D polytopes rotating in 4D. Inspired by H.S.M Coxeter's book "Regular Polytopes", 3rd Edition, Dover Publications, Inc., 1973, and Thomas Banchoff's book "Beyond the Third Dimension: Geometry, Computer Graphics, and Higher Dimensions", Scientific American Library, 1990. https://en.wikipedia.org/wiki/Hypercube https://en.wikipedia.org/wiki/Tesseract https://en.wikipedia.org/wiki/Regular_polytope Written by Carsten Steger.
