
[Desktop Entry]
Name=Rocks
Exec=/usr/libexec/xscreensaver/rocks --root
TryExec=/usr/libexec/xscreensaver/rocks
Comment=An asteroid field zooms by. Written by Jamie Zawinski.
