
[Desktop Entry]
Name=Top Block
Exec=/usr/libexec/xscreensaver/topblock --root
TryExec=/usr/libexec/xscreensaver/topblock
Comment=Creates a 3D world with dropping blocks that build up and up. Written by rednuht.
