
[Desktop Entry]
Name=XFlame
Exec=/usr/libexec/xscreensaver/xflame --root
TryExec=/usr/libexec/xscreensaver/xflame
Comment=Pulsing fire. It can also take an arbitrary image and set it on fire too. Written by Carsten Haitzler and many others.
