
[Desktop Entry]
Name=Deco
Exec=/usr/libexec/xscreensaver/deco --root
TryExec=/usr/libexec/xscreensaver/deco
Comment=Subdivides and colors rectangles randomly, for a Mondrian-esque effect. https://en.wikipedia.org/wiki/Piet_Mondrian#Paris_1919.E2.80.931938 Written by Jamie Zawinski and Michael Bayne.
StartupNotify=false
Terminal=false
Type=Application
Categories=Screensaver;
OnlyShowIn=MATE;
