
[Desktop Entry]
Name=Apple ][
Exec=/usr/libexec/xscreensaver/apple2 --root
TryExec=/usr/libexec/xscreensaver/apple2
Comment=An Apple ][+ computer simulation, in all its 1979 glory. It also reproduces the appearance of display on a color television set of the period. In "Basic Programming Mode", a simulated user types in a BASIC program and runs it. In "Text Mode", it displays the output of a program, or the contents of a file or URL. In "Slideshow Mode", it chooses random images and displays them within the limitations of the Apple ][ display hardware. (Six available colors in hi-res mode!) On MacOS and Linux, this program is also a fully-functional VT100 emulator! Run it as an application instead of as a screen saver and you can use it as a terminal. https://en.wikipedia.org/wiki/Apple_II_series Written by Trevor Blackwell and Jamie Zawinski.
StartupNotify=false
Terminal=false
Type=Application
Categories=Screensaver;
OnlyShowIn=MATE;
