
[Desktop Entry]
Name=Celtic
Exec=/usr/libexec/xscreensaver/celtic --root
TryExec=/usr/libexec/xscreensaver/celtic
Comment=Repeatedly draws random Celtic cross-stitch patterns. https://en.wikipedia.org/wiki/Celtic_knot https://en.wikipedia.org/wiki/Knots_and_graphs Written by Max Froumentin.
StartupNotify=false
Terminal=false
Type=Application
Categories=Screensaver;
OnlyShowIn=MATE;
