
[Desktop Entry]
Name=Flow
Exec=/usr/libexec/xscreensaver/flow --root
TryExec=/usr/libexec/xscreensaver/flow
Comment=Strange attractors formed of flows in a 3D differential equation phase space. Features the popular attractors described by Lorentz, Roessler, Birkhoff and Duffing, and can discover entirely new attractors by itself. https://en.wikipedia.org/wiki/Attractor#Strange_attractor Written by Tim Auckland.
StartupNotify=false
Terminal=false
Type=Application
Categories=Screensaver;
OnlyShowIn=MATE;
