
[Desktop Entry]
Name=Crackberg
Exec=/usr/libexec/xscreensaver/crackberg --root
TryExec=/usr/libexec/xscreensaver/crackberg
Comment=Flies through height maps, optionally animating the creation and destruction of generated tiles; tiles `grow' into place. Written by Matus Telgarsky.
StartupNotify=false
Terminal=false
Type=Application
Categories=Screensaver;
OnlyShowIn=MATE;
