
[Desktop Entry]
Name=Cube 21
Exec=/usr/libexec/xscreensaver/cube21 --root
TryExec=/usr/libexec/xscreensaver/cube21
Comment=The "Cube 21" Rubik-like puzzle, also known as "Square-1". The rotations are chosen randomly. See also the "Rubik", "RubikBlocks" and "GLSnake" screen savers. https://en.wikipedia.org/wiki/Square_One_%28puzzle%29 Written by Vasek Potocek.
StartupNotify=false
Terminal=false
Type=Application
Categories=Screensaver;
OnlyShowIn=MATE;
