
[Desktop Entry]
Name=Noof
Exec=/usr/libexec/xscreensaver/noof --root
TryExec=/usr/libexec/xscreensaver/noof
Comment=Flowery, rotatey patterns. Written by Bill Torzewski.
StartupNotify=false
Terminal=false
Type=Application
Categories=Screensaver;
OnlyShowIn=MATE;
