
[Desktop Entry]
Name=Sproingies
Exec=/usr/libexec/xscreensaver/sproingies --root
TryExec=/usr/libexec/xscreensaver/sproingies
Comment=Slinky-like creatures walk down an infinite staircase and occasionally explode! https://en.wikipedia.org/wiki/Slinky https://en.wikipedia.org/wiki/Q%2Abert https://en.wikipedia.org/wiki/Marble_Madness Written by Ed Mackey.
StartupNotify=false
Terminal=false
Type=Application
Categories=Screensaver;
OnlyShowIn=MATE;
