Package: xscreensaver-screensaver-bsod-dbgsym
Source: xscreensaver
Version: 6.06+dfsg1-3
Auto-Built-Package: debug-symbols
Architecture: amd64
Maintainer: Tormod Volden <debian.tormod@gmail.com>
Installed-Size: 230
Depends: xscreensaver-screensaver-bsod (= 6.06+dfsg1-3)
Section: debug
Priority: optional
Description: debug symbols for xscreensaver-screensaver-bsod
Build-Ids: 594ccf87a859c4919358e57be06f6b53ca9936e6
