
[Desktop Entry]
Name=Gibson
Exec=/usr/libexec/xscreensaver/gibson --root
TryExec=/usr/libexec/xscreensaver/gibson
Comment=Hacking the Gibson, as per the 1995 classic film, HACKERS. Cereal Killer: "Oh yeah, you want a seriously righteous hack, you score one of those Gibsons, man. You know, supercomputers they use to like, do physics, and look for oil and stuff?" Phantom Phreak: "Ain't no way, man, security's too tight. The big iron?" Zero Cool: "Maybe. But, if I were gonna hack some heavy metal, I'd, uh, work my way back through some low security, and try the back door." Cereal Killer: "Yeah but oh man, wouldn't you just love to get one of those Gibsons, baby? Ooooh!" Phantom Phreak: "Yo, who ate all of my fries?" Written by Jamie Zawinski.
StartupNotify=false
Terminal=false
Type=Application
Categories=Screensaver;
OnlyShowIn=MATE;
