
[Desktop Entry]
Name=Molecule
Exec=/usr/libexec/xscreensaver/molecule --root
TryExec=/usr/libexec/xscreensaver/molecule
Comment=Some interesting molecules. Several molecules are built in, and it can also read PDB (Protein Data Bank) files as input. https://en.wikipedia.org/wiki/Protein_Data_Bank_%28file_format%29 Written by Jamie Zawinski.
StartupNotify=false
Terminal=false
Type=Application
Categories=Screensaver;
OnlyShowIn=MATE;
