
[Desktop Entry]
Name=Gleidescope
Exec=/usr/libexec/xscreensaver/gleidescope --root
TryExec=/usr/libexec/xscreensaver/gleidescope
Comment=A kaleidoscope that operates on a loaded image. https://en.wikipedia.org/wiki/Kaleidoscope Written by Andrew Dean.
StartupNotify=false
Terminal=false
Type=Application
Categories=Screensaver;
OnlyShowIn=MATE;
