
[Desktop Entry]
Name=Halftone
Exec=/usr/libexec/xscreensaver/halftone --root
TryExec=/usr/libexec/xscreensaver/halftone
Comment=A halftone dot pattern in motion. Draws the gravity force in each point on the screen seen through a halftone dot pattern. The gravity force is calculated from a set of moving mass points. View it from a distance for best effect. https://en.wikipedia.org/wiki/Halftone Written by Peter Jaric.
StartupNotify=false
Terminal=false
Type=Application
Categories=Screensaver;
OnlyShowIn=MATE;
