
[Desktop Entry]
Name=Hilbert
Exec=/usr/libexec/xscreensaver/hilbert --root
TryExec=/usr/libexec/xscreensaver/hilbert
Comment=The recursive Hilbert space-filling curve, both 2D and 3D variants. The Hilbert path is a single contiguous line that can fill a volume without crossing itself. As a data structure, Hilbert paths are useful because ordering along the curve preserves locality: points that are close together along the curve are also close together in space. The converse is often, but not always, true. The coloration reflects this. https://en.wikipedia.org/wiki/Hilbert_curve Written by Jamie Zawinski.
StartupNotify=false
Terminal=false
Type=Application
Categories=Screensaver;
OnlyShowIn=MATE;
