
[Desktop Entry]
Name=Julia
Exec=/usr/libexec/xscreensaver/julia --root
TryExec=/usr/libexec/xscreensaver/julia
Comment=The Julia set is a close relative of the Mandelbrot set. The small moving dot indicates the control point from which the rest of the image was generated. See also the "Discrete" screen saver. https://en.wikipedia.org/wiki/Julia_set Written by Sean McCullough.
StartupNotify=false
Terminal=false
Type=Application
Categories=Screensaver;
OnlyShowIn=MATE;
