
[Desktop Entry]
Name=LCD Scrub
Exec=/usr/libexec/xscreensaver/lcdscrub --root
TryExec=/usr/libexec/xscreensaver/lcdscrub
Comment=Repairs burn-in on LCD monitors. This saver is functional, rather than pretty. Believe it or not, screen burn is not a thing of the past. It can happen to LCD screens pretty easily, even in this modern age. However, leaving the screen on and displaying high contrast images can often repair the damage. That's what this screen saver does. See also: https://web.archive.org/web/20020817075924/http%3A//docs.info.apple.com/article.html?artnum=88343 Inspired by a like-named and long-defunct program by Daniel Sandler. Written by Jamie Zawinski.
StartupNotify=false
Terminal=false
Type=Application
Categories=Screensaver;
OnlyShowIn=MATE;
