
[Desktop Entry]
Name=Menger
Exec=/usr/libexec/xscreensaver/menger --root
TryExec=/usr/libexec/xscreensaver/menger
Comment=The Menger Gasket is a cube-based recursive fractal object analogous to the Sierpinski Tetrahedron. https://en.wikipedia.org/wiki/Menger_sponge https://en.wikipedia.org/wiki/Sierpinski_carpet Written by Jamie Zawinski.
StartupNotify=false
Terminal=false
Type=Application
Categories=Screensaver;
OnlyShowIn=MATE;
