
[Desktop Entry]
Name=Phosphor
Exec=/usr/libexec/xscreensaver/phosphor --root
TryExec=/usr/libexec/xscreensaver/phosphor
Comment=An old terminal with large pixels and long-sustain phosphor. On MacOS and Linux, this program is also a fully-functional VT100 emulator! Run it as an application instead of as a screen saver and you can use it as a terminal. Written by Jamie Zawinski.
StartupNotify=false
Terminal=false
Type=Application
Categories=Screensaver;
OnlyShowIn=MATE;
