
[Desktop Entry]
Name=Projective Plane
Exec=/usr/libexec/xscreensaver/projectiveplane --root
TryExec=/usr/libexec/xscreensaver/projectiveplane
Comment=A 4D embedding of the real projective plane. You can walk on the surface of the real projective plane or rotate it in 4D or walk on it while it rotates in 4D. Inspired by Thomas Banchoff's book "Beyond the Third Dimension: Geometry, Computer Graphics, and Higher Dimensions", Scientific American Library, 1990. https://en.wikipedia.org/wiki/Real_projective_plane https://en.wikipedia.org/wiki/Roman_surface https://en.wikipedia.org/wiki/Cross_cap https://en.wikipedia.org/wiki/Moebius_strip https://mathworld.wolfram.com/RealProjectivePlane.html https://mathworld.wolfram.com/RomanSurface.html https://mathworld.wolfram.com/Cross-Cap.html https://mathworld.wolfram.com/MoebiusStrip.html Written by Carsten Steger.
StartupNotify=false
Terminal=false
Type=Application
Categories=Screensaver;
OnlyShowIn=MATE;
