
[Desktop Entry]
Name=VFeedback
Exec=/usr/libexec/xscreensaver/vfeedback --root
TryExec=/usr/libexec/xscreensaver/vfeedback
Comment=Simulates video feedback: pointing a video camera at an NTSC television. Written by Jamie Zawinski.
StartupNotify=false
Terminal=false
Type=Application
Categories=Screensaver;
OnlyShowIn=MATE;
